.story-type {
  font-size: 1rem !important;
  color: grey;
}

.container {
  max-width: 85% !important;
}

.top-header {
  height: 6rem !important;
  background: #f72210;
}

.fas {
  line-height: unset !important;
}

.btn {
  border-radius: 0 !important;
}

.nav-list {
  margin-top: -1rem;
}

.card {
  border: none !important;
  font-size: 0.9rem;
  cursor: pointer;
}

.category {
  margin-top: -32px;
}

.opinion {
  font-size: 0.8rem;
}

.btn-meteor {
  background: rgb(155, 204, 211) !important;
  font-size: 0.8rem !important;
  width: 40%;
}

.card-bordered {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.newsletter {
  width: 3rem !important;
}
.newsletter-text h5 {
  font-size: 1.7vmin !important;
}

.main-news-opinion,
.main-news {
  max-height: 2970px;
}
.main-news::-webkit-scrollbar,
.main-news-opinion::-webkit-scrollbar {
  display: none;
}
.main-news {
  -ms-overflow-style: none;
}

.in-the-mag {
  color: #f72210;
  font-size: 1rem;
}

.features {
  font-size: 1rem;
}

.bottom-stories h4 {
  font-size: 1.2rem !important;
  cursor: pointer;
}

.starting-five {
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5)
    50% 90% no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.footer-logo img {
  width: 236px !important;
}
.copyright {
  line-height: unset !important;
}

.icons {
  right: 2px;
}

footer li {
  cursor: pointer;
}

.opinion-item img {
  width: 4rem !important;
  height: 4rem !important;
}

.author {
  flex-direction: column !important;
  margin-left: 1.6rem !important;
}
.latest-news img {
  width: 8rem !important;
  height: 6rem;
}

.news-logo {
  width: 15rem;
}
.phone{
  width: 200px !important;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 100% !important;
  }
  .main-news {
    max-height: 3170px;
  }
  .main-news-opinion {
    max-height: 100%;
  }

  .footer-logo img {
    width: 236px !important;
  }
  .icons {
    width: 100%;
  }
  .top-header {
    height: 3.4rem !important;
    background: #f72210;
  }
  .news-logo {
    width: 12rem;
  }
  .phone{
    width: 400px !important;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
  .naigation-items {
    display: none !important;
  }
  .date-sec {
    display: none !important;
  }
  .main-news {
    max-height: 100%;
  }
  .main-news-opinion {
    max-height: 100%;
    padding-left: 2rem !important;
  }
  .editions {
    flex-wrap: wrap !important;
  }

  .footer-logo img {
    width: 236px !important;
  }
  .icons {
    width: 100%;
    margin-top: 2.5rem !important;
  }
  .copyright {
    width: 100% !important;
  }
  .sign-in,
  .sign-in h4 {
    font-size: 0.7rem !important;
  }
  .sign-in {
    margin-top: -2.2rem;
  }

  .top-header {
    height: 3.4rem !important;
    background: #f72210;
  }
  .news-logo {
    width: 10rem;
  }
  .in-depth {
    text-align: center;
  }


  .phone{
    width: 100% !important;
    height: 19rem !important;
  }
}
